# comments, main configuration to setup the network
# usage - call by multiNodeLearning.py file
# to save different setting to run expect results


[Networks]
numSteps = 100
numChans = 5 
ChannelAssignType = typeIn  

nodeTypes = [0, 1, 2, 3, 4, 5]
# ToDo Legacy with Random <<<<
# The type of each node 
# 0 - Legacy (Dumb) Node 
# 1 - Hopping Node
# 2 - Intermittent Node/ im Node
# 3 - DSA node (just avoids)  
# 4 - MDP Node
# 5 - a. DQN Node
# 6 - b. DQN-DoubleQ
# 7 - c. DQN-PriReplay
# 8 - d. DQN-Duel     
# 9 - Adv. MDP Node(ToDo)


legacyChanList   = [0, 1, 2]
txProbability    = [1.0, 0.8]
hoppingChanList  = [ [2,3]]
hoppingWidth     = 2
hopRate     = 10
imChanList       = [1,2]                      
imDutyCircleList = [0.2, 0.2]  



# test case to test "learning hidden" nodeTypes = [0,0,5,5] where 3rd & 4th is duplex conflict
# test case to test "learning spatial" nodeTypes = [0,0,0,5,5] where 4rd & 5th is duplex conflict


[Neural Network]
# in dqnxx.py mdp.py
# Set "explore ratio" - exploreTye, exploreDecay, exploreProbMin
# set "reward"

